@import "../../../material-components-web/packages/mdc-theme/variables";

.mdc-toggle-button-option {
  padding-left: 16px;
  padding-right: 16px;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
}

.is-selected {
  background-color: $mdc-theme-primary;
  color: $mdc-theme-on-primary;
}
