@import "@material/theme/variables";

.mdc-toggle-button {
  border: 1px solid #dadce0;
  color: #5f6368;
  cursor: pointer;
  border-radius: 4px;
  display: inline-flex;
  overflow: hidden;
}

.mdc-toggle-button-option {
  padding-left: 16px;
  padding-right: 16px;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  outline: none;

  &:focus {
    background-color: rgba($mdc-theme-primary, 0.1);
  }

  &:active {
    background-color: transparent;
  }

  &.is-selected {
    background-color: $mdc-theme-primary;
    color: $mdc-theme-on-primary;
  }
}
