.logo {
  display: inline-flex;
  align-items: center;
}

.logo-title {
  margin-left: 12px;
  color: #424242;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 1.2rem;
}
